* {
  font-family: 'Allerta Stencil', sans-serif;
  color: black;
}
h5{
  color: white;
}
body {
  background-image: url(images/mtb2.jpg);
  background-size: cover;
}

.locator {
  text-align: center;
}

.head {
  background: rgba(0, 0, 0, 0.0);
  color: white;
}

.drop_menu {
  display: flex;
  justify-content: center;
  height: 100px;
}
.map_area {
  height: 500px;
}
button {
  background-color: black;
}
#search{
  color: white;
}
#city{
  color: white;
}
#state{
  color: white;
}
footer {
  background: rgba(0, 0, 0, 0.0);
  color: white;
  height: 50px;
}
#map {
  height: 300px;
  width: 50%;
}
.map_area{
  margin: 100px;
  display: flex;
  justify-content: center;
}
